main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

h1 {
    font-size: 50px;
}

input, textarea {
    border: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 10px;
    color: #fff;
}

input::placeholder, textarea::placeholder {
    color: #fff;
}

div input {
    width: 400px;
    height: 50px;
}

input {
    height: 50px;
}

textarea {
    resize: none;
}

button {
    width: 80%;
}